body {
  background-color: #30323d;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.pomodoroTimerSet p {
  padding: 9px;
  margin: 80px;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-top: 0px;
  border-radius: 10px;
  background-color: #4d5061;
  text-align: center;
}

.pomodoroMainText {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}
.pomodoroTimerSetList {
  display: flex;
  justify-content: center;
}
